Untitled.ipynb
decompounded.png
origin.png
MAP_decompounded.png
MAP_origin.png
precision_at_k_decompounded.png
precision_at_k_origin.png
prescision_at_different_k.png
result_origin_1000_MAP.png
result_origin_1000_precision@k.png
result_origin_100_MAP.png
result_origin_100_precision@k.png
result_origin_150_MAP.png
result_origin_150_precision@k.png
result_origin_200_MAP.png
result_origin_200_precision@k.png
result_origin_25_MAP.png
result_origin_25_precision@k.png
result_origin_500_MAP.png
result_origin_500_precision@k.png
esult_origin_50_MAP.png
result_origin_50_precision@k.png
result_origin_50_MAP.png


